# Dependencies
node_modules

# yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment varibales
.env*

# Code coverage
coverage

# Local dev file for quickly testing requests
requests.rest